/* Таблица div */
.section-do-table {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;

}

.section-do-table-div {
    display: flex;
    align-items: center;
}

.table {
    width: 1440px;
    border: 2px solid #3172b9;
}

/* HEADER table */

.header_row {
    display: block;
    display: flex;
    padding: 1px;
}

.td_1,
.td_2,
.td_3 {
    padding: 4px 6px;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;
    color: #414141;
    border: 1px solid rgb(160 160 160);
    box-shadow: inset 1px 1px #888;
    margin: 1px;
    background-color: #e4e4e4;
    text-align: center;
    font-weight: bold;
}


.td_1 {
    flex: 1 1 50.2%;
}

.td_2 {
    flex: 1 1 25%;
}

.td_3 {
    flex: 1 1 25%;
}

/* BODY */
    /* BODY_HTML */


    .body_HTML,
    .body_CSS,
    .body_JavaScript {
        display: block;
        display: flex;
    }
    
    .skills {
        flex: 1 1 50%; 
    }
    .Junior {
        flex: 1 1 25%;
        text-align: center;
        
    }
    .Middle {
        flex: 1 1 25%;
        text-align: center;
    }
    
    .skills {
        display: block;
        display: flex; 
          
    }
    
    .side_header {
        flex: 1 1 25%;
        text-align: center;
    }
    
    .title {
        flex: 1 1 75%;
        /* display: flex;
        flex-direction: column; */
         /* align-content: stretch; */
        text-align: left;
        justify-content: center;
    }
    
    .td-html,
    .td-css,
    .td-js {
        padding: 80px 6px;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 300;
        color: #414141;
        border: 1px solid rgb(160 160 160);
        box-shadow: inset 1px 1px #888;
        margin: 1px;
        vertical-align: middle;
        font-weight: bold;
    }
    
    .td-html,
    .td-css {
        height: 233px;
    }
    
    .td-js {
        height: 194px;
    }
    
    .td-1, .td-2, .td-3, .td-4, .td-5, .td-6 {
        height: 38px;
        padding: 10px 6px;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 300;
        color: #414141;
        border: 1px solid rgb(160 160 160);
        box-shadow: inset 1px 1px #888;
        margin: 1px;
        vertical-align: middle;
       
    }